blank_issues_enabled: false
contact_links:
  - name: Question or Discussion
    url: https://github.com/{% raw %}{{ github_username }}/{{ package_name }}{% endraw %}/discussions
    about: Please use GitHub Discussions for questions and general discussions
  - name: Documentation
    url: https://{% raw %}{{ github_username }}{% endraw %}.github.io/{% raw %}{{ package_name }}{% endraw %}/
    about: Check the documentation for guides and API references
